:root {
  /* Font Sizes */
  --font-size-body: 0.875rem;   /* 14px */
  --font-size-h1: 1.5rem;       /* 24px */
  --font-size-h2: 1.125rem;     /* 18px */
  --font-size-h3: 1rem;         /* 16px */

  --font-size-icon: 16px;
  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}
